
body{
    margin:0;
}

#mainContent{
    border:5px solid silver;
    margin:auto;
    width:50%;
    padding:10px;
}
.taskBox{
    border:1px solid gray;
    margin:10px;
    padding:5px;
    background-color: silver;
}
#addNewTask{
    margin:auto;
    padding:10px;
    border: #04AA6D 5px solid;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#appBody{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin:0;
}
nav{
    background-color: gray;
    
}
.navLink{
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navLink:hover{
    background-color: #ddd;
    color: black;
}

.navLink:active{
    background-color: #04AA6D;
    color: white;
}
#appMain{
    margin: 0;
}

.linkLi{
    background-color: #04AA6D;
    border:1px solid black;
    color:white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header{
    text-align: center;
    background-color: brown;
    
}

footer{
    text-align: center;
    background-color: brown;
    margin-top: auto;
}